{% extends "network/layout.html" %}

{% block body %}
<h2>All Posts</h2>
<br>
<h5>New posts</h5>

<form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <textarea autofocus class="form-control" type="text" name="new_post" placeholder="new_post">
    </textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Post">
</form>



<!-- {% if message %}
    <div>{{ message }}</div>
{% endif %}

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <input autofocus class="form-control" type="text" name="username" placeholder="Username">
    </div>
    <div class="form-group">
        <input class="form-control" type="password" name="password" placeholder="Password">
    </div>
    <input class="btn btn-primary" type="submit" value="Login">
</form>

Don't have an account? <a href="{% url 'register' %}">Register here.</a> -->


{% endblock %}