{% extends "network/all_posts.html" %}

{% block all_posts %}
<h2>All Posts</h2>
<br>
<h5>New posts</h5>

<form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <textarea autofocus class="form-control" type="text" name="new_post" placeholder="new_post">
    </textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Post">
    
</form>
<br>
<h5>Posts:</h5>


{% endblock %}
{% block pagination %}

<!-- <div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="{% url 'index' %}?page=1">&laquo; first</a>
            <a href="{% url 'index' %}?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="{% url 'index' %}?page={{ posts.next_page_number }}">next</a>
            <a href="{% url 'index' %}?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div> -->

<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        {% if posts.has_previous %}
            <a class="page-link" href="{% url 'index' %}?page={{ posts.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
            </a>   
        {% endif %} 
      </li>
      {% for page_number in pages %}
      <li class="page-item"><a class="page-link" href="{% url 'index' %}?page={{page_number }}">{{page_number}}</a></li>
      {% endfor %}
      <li class="page-item">
        {% if posts.has_next %}
            <a class="page-link" href="{% url 'index' %}?page={{ posts.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        {% endif %}
        </a>
      </li>
    </ul>
  </nav>

{% endblock %}

