{% extends "network/all_posts.html" %}

{% block all_posts %}
<h2>User: {{username_1}}</h2>
<br>
<h3>Followers: {{user_all.followers.all.count}}</h3>
<h3>Following: {{user_all.user_set.all.count}}</h3>
{% if user.is_authenticated %}
<form action="{% url 'following' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="username" value="{{username_1}}">
    {% if user in user_all.followers.all %}
        <input class="btn btn-primary" type="submit" value="Unfollow">
    {% else %}
        <input class="btn btn-primary" type="submit" value="Follow">
    {% endif %}
 {% endif %}

</form>
{% csrf_token %}
<br>
<h5>His posts:</h5>



{% endblock %}