.post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}
.author {
    font-weight: bold;
}
.heart {
    cursor: pointer;
    font-size: 24px; /* Velikost srdíčka */
    color: red; /* Barva srdíčka */
}